<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/productosES.jpg">
                    <span class="card-title">Entradas y salidas</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/tipoproducto.jpg">
                    <span class="card-title">Consultar compras</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/tipoproducto.jpg">
                    <span class="card-title">Consultar compras</span>
                </div>
            </div>
        </div>
    </div> -->
</div>