<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/venta-money.jpg">
                    <span class="card-title">Venta de producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/producto.jpg">
                    <span class="card-title">Compra de producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/caja-registradora.jpg">
                    <span class="card-title">Estado de caja</span>
                </div>
            </div>
        </div>
    </div>
</div>