<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card hoverable" ng-click="btnprueba()">
                <div class="card-image">
                    <img src="img/addproducto.jpg" >
                    <span class="card-title">Agregar producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/tipoproducto.jpg">
                    <span class="card-title">Tipo de producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/marca.jpg">
                    <span class="card-title">Agregar Marca</span>
                </div>
            </div>
        </div>
    </div>
</div>